
#bigBox{
  width: 1200px;
  height: 2000px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

#columnLeft{
  text-align: center;
  width: 25%;
  height: 100%;
  float: left;
  border: 2px solid green; 
}

#columnRight{
  width: 25%;
  height: 100%;
  float: right;
  border: 2px solid green;
}

#columnMid{
  width: 50%;
  height: 100%;
  border: 2px solid purple;
  margin: auto;
}

.title{
  text-align: center;
}

.navBox{
  padding-top: 15px;
  border: 2px solid black;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.navBox:hover{
  background-color: gray;
}