
#bigBox{
  width: 1200px;
  height: 2500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

#columnLeft{
  text-align: center;
  width: 300px;
  height: 100%;
  float: left;
  border: 2px solid green; 
  position: fixed;
}

#columnRight{
  width: 25%;
  height: 100%;
  float: right;
  border: 2px solid green;
  padding: 10px;
}

#columnMid{
  width: 50%;
  height: 100%;
  margin: auto;
}

.title{
  text-align: center;
}

#school1, #school2{
  text-align: center;
}

#school1{
  font-size: 30px;
}

#school2{
  font-size: 20px;
}

.navBox{
  padding-top: 15px;
  border: 1px solid black;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
}

.navBox:hover{
  background-color: gray;
}

/*ColumnRight Stuff please ask Joey before touching */
#columnRight .headerRight{
  font-size: 30px;
  border-top: 3px solid black;
  border-bottom: 3px dotted gray;

}

#columnRight p1{
  font-size: 18px;
}

img{
  width: 90%;
  padding: 10px;
  border-radius: 30px;
}

#profile{
  width: 100%;
  text-align: center;
}